.App {
  text-align: center;
}

.App-body {
  background-image: linear-gradient(
    to right,
    rgb(190, 19, 119),
    rgb(74, 46, 177)
  );
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  align-items: center;
  justify-content: top;
  gap: 10px;

  /* height: 100vh; */
}

