.App {
  text-align: center;
}

.App-body {
  background-image: linear-gradient(to right, rgb(190, 19, 119) , rgb(74, 46, 177)); 
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  justify-content: top;
  gap:10px ;
  height: 100vh;
}
.cards-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  overflow-x:auto ;
  padding-top: 10px;
  border-top: 2px solid rgb(80, 75, 75) ;
  margin-bottom: 10px;
}
